version: "3"
services:
    php:
        build: .
        ports:
            - "8001:80"
        volumes:
            - ./src:/var/www/html/
        links:
            - mysql
        networks:
            - default
        environment:
            - PHP_EXTENSION_PDO_MYSQL=yes
        env_file:
            -   .env
    mysql:
        image: mysql:8.0
        environment:
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
            - persistent:/var/lib/mysql
        networks:
            - default
        ports:
            - "3306:3306"
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - mysql
        ports:
            - "8000:80"
        environment:
            PMA_HOST: ${MYSQL_HOST}
            PMA_PORT: 3306
            PMA_ARBITRARY: 1
            PMA_USER: ${MYSQL_USER}
            PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
volumes:
    persistent:
